html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .topnav {
    text-align: center;
  }

  .topnav2 {
    text-align: center;
  }

  .topnav3 {
    text-align: center;
  }
  .topnav4 {
    text-align: center;
  }

  .topnav5 {
    text-align: center;
  }
  .topnav {
    overflow: hidden;
    background-color: #075c7e;
    position: relative;
  }

  .topnav2 {
    overflow: hidden;
    background-color: #055074;
    position: relative;
  }

  .topnav3 {
    overflow: hidden;
    background-color: #054479;
    position: relative;
  }
  .topnav4 {
    overflow: hidden;
    background-color: #054479;
    position: relative;
  }

  .topnav5 {
    overflow: hidden;
    background-color: #084c85;
    position: relative;
  }
  .topnav #myLinkk1 {
    display: none;
  }

  .topnav2 #myLinkk2 {
    display: none;
  }

  .topnav3 #myLinkk3 {
    display: none;
  }
  .topnav4 #myqcbb {
    display: none;
  }
  .topnav5 #myqcbb5 {
    display: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon2 {
    background: #094f7e;
    display: block;
    position: absolute;
    padding: 14px 16;
    right: 0;
    top: 0;
  }