html {
  font-size: 10px;
}

#wrapper {
  width: 96rem;
  margin: auto;
}



h2 {
  font-size: 25px;
  background-color: rgb(170, 194, 167);
}



#demo {
  font-size: 20px;
  padding-right: 610px;
  background-color: #b1d19e;
  margin-top: 10px;

}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  float: right;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(71, 163, 216);
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dabaf5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#control {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(181, 233, 207);
  font-size: 2rem;
  width: 54%;
  border-radius: 25px;

}
.control__page-num {
  display: inline-block;
  padding-top: 0.3rem;
  margin-right: 1.5rem;
}

.control__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(1, 43, 121);
  text-decoration: underline;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

#main {
  display: flex;
  margin-top: 1.5rem;
}

#suras {
  top: 1.5rem;
  width: 20rem;
  height: 50rem;
  overflow: auto;
}
#suras .active {
  background-color: #81b7f1;
  color: white;
}
#suras .active a {
  color: white;
}

.suras__table {
  font-size: 1.9rem;
}

.suras__table th,
.suras__table td {
  text-align: center;
}

#page {
  position: relative;
  height: 40rem;
  width: 29rem;

}
#page a:hover .ayat {
  background-color: yellow;
  opacity: 0.2;
  filter: alpha(opacity=27);
}
#page a.active .ayat {
  background-color: rgb(108, 204, 248);
  opacity: 0.2;
  filter: alpha(opacity=25);
}

#page div {
  position: absolute;
}


#tafseer {
  height: 43rem;
  width: 29rem;
  background-color: #f8f8f8;
  overflow: auto;
  margin-right: 1rem;
  font-size: 4rem;
}


#tooltips {
 position: absolute;
 z-index: 1000;
 background-color: rgba(158, 218, 178, 0.897);
 border:2px solid#ccc ;
 padding: 10px;
 width: 250px;
 display: none;
 border-radius: 20px;
 font-size: 14px;

}
 


